<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  <div class="container">
    <div class="row">
      <div class="col-md-8"><iframe src="https://calendar.google.com/calendar/embed?showPrint=0&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=6a39a8ej6m1kkpclhslefi5csg%40group.calendar.google.com&amp;color=%23711616&amp;ctz=America%2FNew_York"
                                    style="border-width:0"
                                    width="800" height="600"
                                    frameborder="0"
                                    scrolling="no"></iframe></div>
      <div class="col-md-4"><app-appointment-form></app-appointment-form></div>
    </div>
  </div>
</div>


